<div class="container3">
  <%= image_tag "bird.png", :class => "image5 animate__animated animate__rotateInDownRight pt-5" %>
  <h1>Friday</h1><br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Activity</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">19:00</td>
        <th>Welcome drink</th>
        <td>Restaurant</td>
      </tr>
    </tbody>
  </table>
  <%= image_tag "duck.png", :class => "image5 animate__animated animate__jackInTheBox" %>
  <h1>Saturday</h1><br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Activity</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">14:00</td>
        <th>Activity</th>
        <td>Restaurant</td>
      </tr>
      <tr>
        <td scope="row">19:30</td>
        <th>Surrealist Bal</th>
        <td>Château de Bonnine</td>
      </tr>
    </tbody>
  </table>
  <%= image_tag "owl.png", :class => "image5 animate__animated animate__fadeInLeft" %>
  <h1>Sunday</h1><br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Activity</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">12:00</td>
        <th>Brunch</th>
        <td>Restaurant</td>
      </tr>
    </tbody>
  </table>
</div>
