<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class='container-fluid'>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://cdn140.picsart.com/248640846005212.png?type=webp&to=min&r=640" %>
    <% end %>
    <ul class="nav">
      <li class="nav-item">
        <button type="button" class="btn btn-outline-light">
          <a class="nav-link text-white" aria-current="page" target="blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc2PgY8o4zjDe8QP3ai10_JDLH6NSig9q6fBRD6Vsi6XEHI3w/viewform?vc=0&c=0&w=1&flr=0">Respond</a>
        </button>
      </li>
      <li class="nav-item pt-2">
        <a class="nav-link text-white" aria-current="page" href="program#index">Program</a>
      </li>
      <li class="nav-item pt-2">
        <a class="nav-link text-white" aria-current="page" href="hotels#index">Hotels</a>
      </li>
      <li class="nav-item pt-2">
        <a class="nav-link text-white" href="inspiration#index">Inspiration</a>
      </li>
      <li class="nav-item pt-2">
        <a class="nav-link text-white" href="contact#index">Contact</a>
      </li>
    </ul>
  </div>
</nav>
