<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class='container-fluid'>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://cdn140.picsart.com/248640846005212.png?type=webp&to=min&r=640" %>
    <% end %>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-white" aria-current="page" href="program#index">Program</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" aria-current="page" href="hotels#index">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="inspiration#index">Inspiration</a>
      </li>
    </ul>
  </div>
</nav>
