<div class="banner">
  <div class="container5">
    <medium> Sophie, Hélène & Max van Berchem</medium><br>
    <medium>Raoul, Emilie, Henri & Adrien de Montpellier de Vedrin</medium><br>
    <medium style="color: grey;">have the pleasure to invite you to a</medium>
  </div>
  <div class="container">
    <p aria-label="CodePen">
      <span data-text="-">-</span>
      <span data-text="S">S</span>
      <span data-text="U">U</span>
      <span data-text="R">R</span>
      <span data-text="R">R</span>
      <span data-text="E">E</span>
      <span data-text="A">A</span>
      <span data-text="L">L</span>
      <span data-text="I">I</span>
      <span data-text="S">S</span>
      <span data-text="T">T</span>
      <span data-text=".">.</span>
      <span data-text="B">B</span>
      <span data-text="A">A</span>
      <span data-text="L">L</span>
      <span data-text="L">L</span>
      <span data-text="-">-</span>
    </p>
  </div>
  <div class="container4">
    <%= image_tag "elephant.png", :class => "image3 animate__shakeY animate__animated animate__infinite pt-3" %>
    <img src="https://www.seekpng.com/png/full/1-18983_thunder-cloud-png-clip-art-transparent-library-thunder.png" class="image2" alt="">
  </div>
</div>
