.container8 {
  width: 100%;
  height: 100vh;
  padding-top: 130px;
  padding-right: 100px;
  text-align: center;
  padding-left: 100px;
  background-image: linear-gradient(#0d1921,#000000);
}

h4 {
  color: white;
  font-size: 14px;
  font-family: 'Norican';
}

.image4 {
  animation-duration: 40s;
  display:block;
}

.image8 {
  animation-duration: 40s;
  width: 60px;
}

.image9 {
  animation-duration: 80s;
  width: 100px
}
