<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://thumbs.gfycat.com/HardtofindAthleticAmurratsnake-size_restricted.gif);">
  <div class="container1" style="width: 100%;">

  </div>
</div>
