<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://thumbs.gfycat.com/HardtofindAthleticAmurratsnake-size_restricted.gif);">
  <div class="container1" style="width: 100%;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card-fluid border-0 mb-5">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-5">
          <%= image_tag "snake.png", :class => "snake1 animate__animated animate__rotateIn"%>
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-5">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://d2dzp1iimffyb3.cloudfront.net/wp-content/uploads/2016/12/IMG_0891.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://pbs.twimg.com/media/ENDAkCNWoAYlrTK.jpg" class="card-img-top" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://anotherimg-dazedgroup.netdna-ssl.com/786/azure/another-prod/340/4/344912.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://anotherimg-dazedgroup.netdna-ssl.com/640/azure/another-prod/340/4/344903.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://dangerousminds.net/content/uploads/images/made/content/uploads/images/surrealist18hosts_465_635_int.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://assets.vogue.com/photos/58920377dec09b1841455f7d/master/pass/0-holding-surrealism-schiaparelli_144715116511.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://dangerousminds.net/content/uploads/images/_framed/threefaces1-original-600-332.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://www.designscene.net/wp-content/uploads/2020/10/SCHIAPARELLI-SS21-00.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://i.pinimg.com/originals/68/bf/d6/68bfd6359d8b047601d9c84e4072881d.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://mediad.publicbroadcasting.net/p/shared/npr/styles/x_large/nprshared/202103/354638281.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://blog.fabrics-store.com/wp-content/uploads/2019/12/Elsa-Schiaparelli_6.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://revuedada.fr/wp-content/uploads/2020/05/Magritte-fil-de-lhomme.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://static.messynessychic.com/wp-content/uploads/2013/08/rothschildparty2.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://jewellerycut.com/wp-content/uploads/2021/03/Schiaparelli-haute-couture-jewellery-collection-SS21_4.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://dangerousminds.net/content/uploads/images/made/content/uploads/images/8aab906faac1dc1b26d2b24556a2e269_465_339_int.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://dazedimg-dazedgroup.netdna-ssl.com/786/azure/dazed-prod/1260/5/1265339.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <%= image_tag "unnamed.jpeg", :class => "card-img-top img-fluid" %>
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://i.pinimg.com/474x/f1/ac/82/f1ac8254880f9c50584226d637e83b91.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://jlmoderngallery.com/wp-content/uploads/2018/12/Horst-Hands-Hands2.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://therake.imgix.net/wp-content/uploads/2016/12/Surrealist-Ball-4.jpg?ixlib=js-v3.1.0&w=288&h=424&fit=crop&s=6b466fddbc4a7b826e553907ad6909cc" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://i.pinimg.com/originals/d8/9b/2a/d89b2a3c06044b1fc05b917ec4c6c2fd.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://dangerousminds.net/content/uploads/images/made/content/uploads/images/surrealist09_465_343_int.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://www.pointdevue.fr/sites/pointdevue.fr/files/styles/paysage_w300/public/pdv_3629_baldior_25.jpg?itok=-vVoVUQd&etok=08a222f628bb9088167667b8860efd50" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://www.sortiraparis.com/images/80/1462/573050-magritte-en-plein-soleil-sa-periode-renoir-au-musee-de-l-orangerie.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://i.pinimg.com/originals/17/fe/26/17fe26b0c9d117da2da5bbb09ee729c8.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://dangerousminds.net/content/uploads/images/made/content/uploads/images/salvador_dali_party_465_463_int.jpg" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
       <div class="col">
        <div class="card-fluid border-0 mb-4">
          <img src="https://www.renemagritte.org/images/rene-magritte-photo.jpg?w=144" class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card-fluid border-0 mb-4">
        </div>
      </div>
      <%= image_tag "zebra.png", :class => "image3 pb-5" %>
    </div>
    <h1>.</h1>
  </div>
</div>
