<div class="container7">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-sm-1 row-cols-lg-3 g-4">
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://www.sinahotels.com/assets/components/phpthumbof/cache/Sina-Villa-Medici-Storia-1.c49fcfcf074f22974eac97fadcf79bc2.jpg" height=200px class="card-img-top" alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Sina Villa Medici</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text">Rooms reserved under "van Berchem & de Montpellier Party"</small><br><br>
            <a href="https://www.sinahotels.com/en/h/sina-villa-medici-florence/" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://media.xptcdn.net/montebello/assets/img/media/r960x389_1920x778_U-ICTxHOrSc.jpg" height=200px class="card-img-top" alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Montebello Splendid</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text">Rooms reserved under "van Berchem & de Montpellier Party"</small><br><br>
            <a href="https://montebellosplendid.com/en/" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://groupcorner.com/uploads/HOTELS/hotel_10762/_-35431005/1000x548_C_35431005.jpg" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Hotel NH Firenze</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text">Rooms reserved under "van Berchem & de Montpellier Party"</small><br><br>
            <a href="https://www.nh-hotels.com/hotel/nh-firenze" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://cdn.kiwicollection.com/media/property/PR003529/l/003529-Continentale-Italy-la%20terrazza_04%20copy.jpg?cb=1544642495" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Continentale Firenze</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.lungarnocollection.com/continentale/" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://lh3.googleusercontent.com/proxy/qy7Gv6vZkJPVagO-zFw0entu6bGcEuCiIZqec6o2ZZxymivp5q6dulCdvay5e1cefnl-IUZiGczN-hZZacbQOyXU8M--cbVi2jUaEIKmr4bdiRVVza3ElEPrnrrQROmqxIwhfi7Mhkh9NZu0qWbA0n6i-2Qy7t3H3UVy" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">AM Florence Collection</h5>
            <small class="card-text">Luxury B&B</small><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.amcollectionflorence.com" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://hospitality-on.com/sites/default/files/styles/image994x499/public/import/contenu/arton6954.jpg?itok=c43LgttK" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">The St. Regis</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.marriott.com/hotels/travel/flrxr-the-st-regis-florence/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2&y_source=1_Mjc4MjEzMS03MTUtbG9jYXRpb24uZ29vZ2xlX3dlYnNpdGVfb3ZlcnJpZGU%3D" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://lh3.googleusercontent.com/proxy/yES2ifpB_plofmSELZ3pvNVG7sN7h3Et6bLrOR70UyqndVax6H4XqHyCSWBRITG7wm0Ph1Y0NhK3kRblrHRDb2A9UJLmNEudZGLtkazVZk4cy7po1Gn7RNzFkn64YWakOcXloAEnJecdabKzlU8" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Lungarno Collection</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.lungarnocollection.com/hotel-lungarno/" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://photos.book5star.com/photos/1361/preview/1fe9302a_z.jpg" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Rocco Forte Hotel Savoy</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.roccofortehotels.com/hotels-and-resorts/hotel-savoy/?utm_source=google&utm_medium=local&utm_campaign=hotel_savoy" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://m.fourseasons.com/alt/img-opt/~70.1530.0,0000-362,5000-3000,0000-1687,5000/publish/content/dam/fourseasons/images/web/FLO/FLO_711_original.jpg" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Four Season Hotel</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.fourseasons.com/florence/?seo=google_local_flo1_emea" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max500/40378034.jpg?k=817517535e3c42d1afbfe1cc6ef5a173c7720140e8bf9bfd022399ac8a22ecd8&o=&hp=1" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Hotel Garibaldi Blu</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.hotelgaribaldiblu.com/#home" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://ik.imgkit.net/3vlqs5axxjf/external/ik-seo/http://media.iceportal.com/52326/photos/2784199_XL/Hotel-L%27Orologio-Exterior.jpg?tr=w-780%2Ch-437%2Cfo-auto" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Hotel L'Orologio Firenze</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.hotelorologioflorence.com/?utm_medium=organic&utm_source=GB#home" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://lh3.googleusercontent.com/proxy/OK3w8udofXEM2Lr5l1-ZIoU1SA6tDlPPhJXjS_N9MX2bWgGoY_jsCE5EFpQWDrpxoaELSPt2OS0qL-KATbnblMqyP1TL8YH1_oxRYy2_OvZVlsPIkgH8TBhPRFqLcsvfRlzcmgNBEL3E" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Rosso 23</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.hotelrosso23.com/?utm_medium=organic&utm_source=GB#home" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://image-tc.galaxy.tf/wijpeg-6fyz2id0sweb8480yyktgg32v/wide.jpg?crop=0%2C101%2C1920%2C1080" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Grand Hotel Minerva</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><small class="card-text"> superior</small><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.grandhotelminerva.com/en" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/59400444.jpg?k=2fc7f700f098dcf2c6537123af0f18030e2488f97779e07a241761c5daf2444a&o=&hp=1" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Hotel Santa Maria Novella</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.hotelsantamarianovella.it/?utm_medium=organic&utm_source=GB#home" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/b3/77/f4/the-duomo-rooftop-loft.jpg?w=900&h=-1&s=1" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">J.K. Place</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.theplacefirenze.com" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/322440538.jpg?k=d887d56950b7f4f9dcabeb603e505320842f121d4c9bf7ef5e6ef24666a029bf&o=&hp=1" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Hotel Roma</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.hotelromaflorence.com/it" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://www.globesecret.com/38487-zoom_default/casa-howard-florence-guest-house.jpg" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Casa Howard</h5>
            <small class="card-text">Luxury B&B</small><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.casahoward.com" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://q-xx.bstatic.com/xdata/images/hotel/max500/188040842.jpg?k=7497f1f2cc37f07b824743481f4c32cd940f8f164d036d3ad63f5966f0f7e7c3&o=" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Al Palazzo del Marchese Camugliano</h5>
            <small class="card-text">Luxury B&B</small><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.palazzodicamugliano.com" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://ak-d.tripcdn.com/images/220s12000000rqx35D544_Z_550_412_R5_Q70_D.jpg" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Leone Blu Suites – UNA Hotel</h5>
            <small class="card-text">Luxury B&B</small><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.gruppouna.it/esperienze/leone-blu-suites" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://www.25hours-hotels.com/images/25h_florence_rendering_art-invest_restaurant-9_00c557b32c61bb6139ec5a.jpg" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">25 Hours</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><small class="card-text"> superior</small><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.25hours-hotels.com/en/hotels/florence/piazza-san-paolino" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://www.tornabuonisuites.com/wp-content/uploads/2016/02/uguccioni01.jpg" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Tornabuoni Suites</h5>
            <small class="card-text">Residenza d'Epoca</small><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.tornabuonisuites.com" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://exp.cdn-hotels.com/hotels/10000000/9860000/9852100/9852081/b5b81b04_z.jpg?impolicy=fcrop&w=773&h=530&q=high" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Palazzo Alfieri</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.palazzoalfieri.it" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="col pb-4">
        <div class="card border-0">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/21/90/82/99/exterior.jpg" class="card-img-top" height=200px alt="...">
          <div class="card-body hotel-card">
            <h5 class="card-title">Westin Excelsior</h5>
            <img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><img src="https://www.pngkit.com/png/full/91-919957_star-outline-white-photo-for-instagram.png" style="width: 10px" alt=""><br><br>
            <small class="card-text"></small><br><br>
            <a href="https://www.marriott.com/en-us/hotels/flrwi-the-westin-excelsior-florence/overview/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2&y_source=1_Mjc4MjEzMC03MTUtbG9jYXRpb24uZ29vZ2xlX3dlYnNpdGVfb3ZlcnJpZGU%3D" class="btn btn-light" target="_blank">Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container6" style="height: 200px;">
    <div class="container9 p-2">
      <%= image_tag "picture2.png", :class => "image4" %>
    </div>
  </div>
</div>
