@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Norican&display=swap');

h1 {
  color: white;
  font-family: 'Norican', cursive;
}

.container3 {
  padding-top: 150px;
  text-align: center;
}
