.container6 {
  height: 100%;
  padding-top: 60px;
}

.container9 {
  position: relative;
}

.image4 {
  height: 200px;
  z-index: 1;
  position: absolute;

}

@media (min-width: 576px) {
  .image4 {
    padding-left: 10%;
  }
}

@media (min-width: 768px) {
  .image4 {
    padding-left: 30%;
  }
}

@media (min-width: 992px) {
  .image4 {
    padding-left: 35%;
  }
}


.container7 {
  text-align: center;
  padding: 120px;
  background-image: linear-gradient(#0d1921,#000000);
}

.hotel-card {
  background-image: linear-gradient(#0d1921,#000000);
  color: white;
  font-family: 'Norican';
}

small {
  color: white;
  font-size: 20px;
  font-family: 'Norican', cursive;
}

